<style>header{display: none};</style>
<style>footer{display: none};</style>

<nav class="menu-lateral">

    <div class="btn-expandir">
        <i class="fa-solid fa-bars"></i>
    </div>
    <!--btn-expandir-->

    <ul>
        <li class="item-menu ativo">
            <a href="/dashboard">
                <span class="icon"><i class="fa-solid fa-qrcode"></i></span>
                <span class="txt-link">Dashboard</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/dashboard/goal">
                <span class="icon"><i class="fa-solid fa-bullseye"></i></span>
                <span class="txt-link">Metas</span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/dashboard/expense">
                <span class="icon"><i class="fa-solid fa-wallet"></i></span>
                <span class="txt-link">Gastos</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="">
                <span class="icon"><i class="fa-solid fa-money-bill-trend-up"></i></span>
                <span class="txt-link">Investimentos</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/dashboard/income">
                <span class="icon"><i class="fa-solid fa-money-bill"></i></span>
                <span class="txt-link">Ganhos</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/auth/account">
                <span class="icon"><i class="fa-solid fa-user"></i></span>
                <span class="txt-link">Conta</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/auth/logout">
                <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                <span class="txt-link">Sair</span>
            </a>
        </li>
    </ul>
</nav>


<section class="container-main">
    <div class="container-title">
        <h1>Olá {{user.name}}, seja bem vindo a dashboard</h1>

        <h2>Seu saldo: R$ <span {{#if owing}} style="color: red" {{else}} style="color: green"
                {{/if}}>{{realBalance}}</span></h2>
    </div>


    {{#if hasGoal}}
    <div class="title-goals">
        <h1>Suas <span>metas</span>:</h1>
    </div>

    <div class="container-goals">
       <ul class='goals-table'>
        {{#each goal}}
        <li>
            <p class='type-table'>Nome da meta: {{this.title}}</p>
            <p class='date-table'><i class="fa-regular fa-calendar"></i>Data: {{this.date}}</p>
            <p class='price-table'>Quantia: <span>R$</span> {{this.amount}}</p>
            {{#if this.completed}} <span>Meta Completa</span></p> {{else}} <span>Meta incompleta</span> {{/if}}
            <a href="/dashboard/editgoal/{{this.id}}"><button>Editar meta</button></a>

        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class='empty-table'>Você ainda não tem metas registradas.</p>
    {{/if}} 
    </div>
    

    {{#if hasExpense}}
    <div class="title-expense">
        <h1>Suas <span>despesas</span>:</h1>
    </div>

    <div class="container-expense">
        <ul class='expense-table'>
        {{#each expense}}
        <li>
            <p class='type-table'>Categoria: {{this.category}} </p>
            <p class='date-table'><i class="fa-regular fa-calendar"></i>Data: {{this.createdAt}}</p>
            <p class='price-table'>Quantia: <span>R$</span>{{this.amount}}</p>
            <p><span>Descrição:</span> <br> {{this.description}}</p>
            <a href="/dashboard/editexpense/{{this.id}}"><button>Editar despesa</button></a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class='empty-table'>Você não tem despesas registradas.</p>
    {{/if}}
    </div>
    


    {{#if hasIncome}}
    <div class="title-income">
        <h1>Seus <span>ganhos</span>:</h1>
    </div>
    <ul class='income-table'>
        {{#each income}}
        <li>
            <p class='type-table'>Fonte: {{this.source}}</p>
            <p class='date-table'><i class="fa-regular fa-calendar"></i>Data: {{this.createdAt}}</p>
            <p class='price-table'>Quantia: <span>R$</span>{{this.amount}}</p>
            <p><span>Descrição:</span> <br> {{this.description}}</p>
            <a href="/dashboard/editincome/{{this.id}}"><button>Editar ganhos</button></a>
        </li>
        {{/each}}
    </ul>


    {{else}}
    <p class='empty-table'>Você não tem ganhos registrados.</p>
    {{/if}}
</section>