<style>header{display: none};</style>
<style>footer{display: none};</style>

<nav class="menu-lateral">

    <div class="btn-expandir">
        <i class="fa-solid fa-bars"></i>
    </div>
    <!--btn-expandir-->

    <ul>
        <li class="item-menu">
            <a href="/dashboard">
                <span class="icon"><i class="fa-solid fa-qrcode"></i></span>
                <span class="txt-link">Dashboard</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/dashboard/goal">
                <span class="icon"><i class="fa-solid fa-bullseye"></i></span>
                <span class="txt-link">Metas</span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/dashboard/expense">
                <span class="icon"><i class="fa-solid fa-wallet"></i></span>
                <span class="txt-link">Gastos</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/dashboard/income">
                <span class="icon"><i class="fa-solid fa-money-bill"></i></span>
                <span class="txt-link">Ganhos</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/dashboard/invest">
                <span class="icon"><i class="fa-solid fa-money-bill-trend-up"></i></span>
                <span class="txt-link">Investimentos</span>
            </a>
        </li>
        <li class="item-menu ativo">
            <a href="/auth/account">
                <span class="icon"><i class="fa-solid fa-user"></i></span>
                <span class="txt-link">Conta</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/auth/logout">
                <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                <span class="txt-link">Sair</span>
            </a>
        </li>
    </ul>
</nav>



<section class="container-main">
    <div class="title">
        <h1>Suas despesas</h1>
        <span><a href="/dashboard/registerexpense">Registrar despesa</a></span>
    </div>
    {{#if hasExpense}}
    <div class="title-expense">
        <h1>Suas <span>despesas</span>:</h1>
    </div>

    <div class="container-expense">
        <ul class='expense-table'>
        {{#each expense}}
        <li>
            <p class='type-table'>{{this.category}} </p>
            <p class='date-table'><i class="fa-regular fa-calendar"></i>{{this.createdAt}}</p>
            <p class='price-table'><span>R$</span>{{this.amount}}</p>
            <p>{{this.description}}</p>
            <a href="/dashboard/editexpense/{{this.id}}"><button>Editar despesa</button></a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class='empty-table'>Você não tem despesas registradas.</p>
    {{/if}}
    </div>

</section>