<style>header{display: none};</style>
<style>footer{display: none};</style>

<nav class="menu-lateral">

    <div class="btn-expandir">
        <i class="fa-solid fa-bars"></i>
    </div>
    <!--btn-expandir-->

    <ul>
        <li class="item-menu">
            <a href="/dashboard">
                <span class="icon"><i class="fa-solid fa-qrcode"></i></span>
                <span class="txt-link">Dashboard</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/dashboard/goal">
                <span class="icon"><i class="fa-solid fa-bullseye"></i></span>
                <span class="txt-link">Metas</span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/dashboard/expense">
                <span class="icon"><i class="fa-solid fa-wallet"></i></span>
                <span class="txt-link">Gastos</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/dashboard/income">
                <span class="icon"><i class="fa-solid fa-money-bill"></i></span>
                <span class="txt-link">Ganhos</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/dashboard/invest">
                <span class="icon"><i class="fa-solid fa-money-bill-trend-up"></i></span>
                <span class="txt-link">Investimentos</span>
            </a>
        </li>
        <li class="item-menu ativo">
            <a href="/auth/account">
                <span class="icon"><i class="fa-solid fa-user"></i></span>
                <span class="txt-link">Conta</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/auth/logout">
                <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                <span class="txt-link">Sair</span>
            </a>
        </li>
    </ul>
</nav>




<main class="container-main">
    <div class="title">
        <h1>Suas metas</h1>
        <span><a href="/dashboard/registergoal">Registrar meta</a></span>
    </div>
    
   
    
    <div class="title-goals">
    </div>
    {{#if hasGoal}}
    <div class="container-goals">
       <ul class='goals-table'>
        {{#each goal}}
        <li>
            <p class='type-table'>{{this.title}}</p>
            <p class='date-table'><i class="fa-regular fa-calendar"></i>{{this.date}}</p>
            <p class='price-table'><span>R$</span> {{this.amount}}</p>
            {{#if this.completed}} <span style="color: #00856f">Meta Completa</span></p> {{else}} <span style="color: #cc3f3f">Meta incompleta</span> {{/if}}
            <a href="/dashboard/editgoal/{{this.id}}"><button>Editar meta</button></a>

        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class='empty-table'>Você ainda não tem metas registradas.</p>
    {{/if}} 
    </div>

</main>