<style>header { display: none; } footer { display: none; }</style>

{{!-- <nav class="menu-lateral">

    <div class="btn-expandir">
        <i class="fa-solid fa-bars"></i>
    </div>
    <!--btn-expandir-->

    <ul>
        <li class="item-menu">
            <a href="/dashboard">
                <span class="icon"><i class="fa-solid fa-qrcode"></i></span>
                <span class="txt-link">Dashboard</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/dashboard/goal">
                <span class="icon"><i class="fa-solid fa-bullseye"></i></span>
                <span class="txt-link">Metas</span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/dashboard/expense">
                <span class="icon"><i class="fa-solid fa-wallet"></i></span>
                <span class="txt-link">Gastos</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/dashboard/income">
                <span class="icon"><i class="fa-solid fa-money-bill"></i></span>
                <span class="txt-link">Ganhos</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/dashboard/invest">
                <span class="icon"><i class="fa-solid fa-money-bill-trend-up"></i></span>
                <span class="txt-link">Investimentos</span>
            </a>
        </li>
        <li class="item-menu ativo">
            <a href="/auth/account">
                <span class="icon"><i class="fa-solid fa-user"></i></span>
                <span class="txt-link">Conta</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/auth/logout">
                <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                <span class="txt-link">Sair</span>
            </a>
        </li>
    </ul>
</nav> --}}

<h1>Olá {{user.name}}, seja bem vindo a nossa pagina de investimentos</h1>
{{#if owing}}
<p>Poxa que pena, atualmente seu saldo esta negativo em: {{realBalance}}</p>
<a href="#">Que tal umas dicas de investimentos?</a>
{{/if}}
<h2>Atualmente você tem: {{goal.length}} metas!</h2>
<ul>
  <h1>Quanto falta para completar suas metas?</h1>
  {{#each goalRoad}}
    <li>{{this.title}}: <span>R$ {{this.amount}}</span> | <span>{{this.date}} dias restantes</span></li>
  {{/each}}
</ul>

{{!-- FAZER OS DROPDOWN AQUI E COLOCAR UM ID PARA O USUARIO PODER SE REDIRECIONAR AO CLICAR NO A DE OWING --}}